{% load cms_tags sekizai_tags thumbnail static %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'news/css/news.css' %}">{% endaddtoblock %} 
{% comment %} {% addtoblock "js" %}<script  src="{% static 'core/js/isotope.min.js' %}"></script>{% endaddtoblock %} {% endcomment %}
{% addtoblock "js" %}<script src="{% static 'core/scripts/imagesloaded.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'news/js/news.js' %}"></script>{% endaddtoblock %} 

<div class="news-container 
  {% if instance.layout == "blocks"%}layout-blocks{% endif %}
  {% if instance.layout == "list"%}layout-list{% endif %}
  ">

  {% if instance.layout == "list" %}

    {% for obj in object_list %}

    <div class="row">
      <div class="col-xs-12">
        {% render_model_block obj %}
          {% include 'news/includes/post.item.horizontal.html'  %}
        {% endrender_model_block %}

        {% if HIDE_BORDERS %}<hr>{% endif %}
      </div>
    </div>

    {% empty %}
      <p> Записей не найдено.</p>
    {% endfor %}


  {% elif instance.layout == "blocks" %}

  <div class="row">
    {% for obj in object_list %}

      <div class="col-md-{{ instance.bootstrap_col }} ">
        {% render_model_block obj %}
          {% include 'news/includes/post.item.vertical.html' %}
        {% endrender_model_block %}
      </div>

    {% empty %}
      <p> Записей не найдено.</p>
    {% endfor %}

  </div>
  {% endif %}
</div>

<div class="text-center">
  <a href="{{ instance.get_absolute_url }}" class="btn-style-two bg-white">
    Все {% if instance.category %}{{ instance.category.title|lower }}{% else %}новости{% endif %}
  </a>
</div>