{% load cms_tags core_tags easy_thumbnails_tags %}

<div class="news-item vertical advs-box advs-box-top-icon-img niche-box-post boxed-inverse 
        {% if not obj.pubdate_has_arrived %} too-early-to-publish {% endif %}
        {% if not obj.published %} not-published {% endif %}
    ">
    <div class="block-infos">
        <div class="block-data">
            <p class="bd-day">{{obj.published_at}}</p>
            <p class="bd-month"></p>
        </div>
            <div class="actions-panel">
                <div class="status-panel">
                </div>
                <div class="actions">
                {% if EDIT_MODE %}
                    {% render_model_block obj %}
                        <i class="fa fa-gear"></i>
                    {% endrender_model_block %}
                {% endif %}
                </div>
            </div>
    </div>
    <div class="advs-box-content">
        <h2 class="text-m"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>
        {% if obj.poster %}
            {% include 'news/includes/poster.html' %}
        {% endif %}
        {% if ADMIN_MODE %}
            <div class="post-status">
                {% if not obj.published %}
                <span class="label label-danger">Не опубликовано</span>
                {% elif not obj.pubdate_has_arrived %}
                <span class="label label-warning">Будет опубликовано {{ obj.published_at }}</span>
                {% endif %}
            </div>
        {% endif %}
        <div class="tag-row">
            {% if obj.category %}
            <span><i class="fa fa-bookmark"></i> <a href="{% url "news:index" %}?category={{ obj.category.id }}">{{ obj.category.title }}</a></span>
            {% endif %}
            <div class="taggit-labels taggit-list">
                {% for tag in obj.tags.all %}
                <span class="taggit-tag item-tag">
                    <a href="{% url "news:index" %}?tags={{ tag.name | prepare_tag_name }}">
                        {{tag}}
                    </a>
                </span>
                {% endfor %}
            </div>
        </div>
        <p class="niche-box-content">
            {% if obj.description %}
                {{ obj.description|striptags|truncatechars_html:150}}
            {% endif %}
        </p>
        <div class="text-right">
            <a href="{{ obj.get_absolute_url }}" class="btn btn-border readmore">
                <i class="fa fa-chevron-circle-right"></i> Перейти
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div> 